li {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.each {
  display: flex;
  padding: 10px;
  align-items: center;
}
.img-con {
  align-self: center;
  margin: 10px;
  background-color: transparent;
  border: 0px;
}
.icon {
  height: 50px;
  width: 50px;
  margin-left: 70px;
  margin-right: 30px;
}

.domain {
  color: #64748b;
  font-size: 20px;
}
.time {
  font-size: 25px;
  color: #475569;
  margin-right: 10px;
}
